<!DOCTYPE html>
<html lang="en">
<!---->
<head>
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style for the page -->
    <!--<link rel="stylesheet" href="./css/menu.css">-->
    <link rel="stylesheet" href="./css/menu.css">
    <script type="module" src="./js/menu.js"></script>
</head>

<body>
    <div id="headerinfo" class="headerInfo">
        <img id="logo" src="./images/bjlogo.png">
        <h1 class="title is-1">Black Jack</h1>
    </div>
    <div id="buttonContainer">
        <button id="gameplay_button" class="button is-primary" name="gameplay_button" value="gameplay">Play</button>
        <button id="logout" class="button is-primary" name="logout" value="logout">Logout</button>
        <button id="leaderboard_btn" class="button is-primary" name="leaderboard_btn" value="leaderboard">Leaderboard</button>
        <button id="options_btn" class="button is-primary" name="options_btn" value="options">
        <img id="settings" class="image is-32x32" src="./images/settings.svg">
        </button>
    </div>
</body>
</html>